/* --- View Profile Styles --- */

/* --- Profile Information --- */
.profile-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem 3rem;
}

.profile-content {
    display: flex;
    padding: 2rem 1rem;
    border-bottom: 2px solid #2f8559;
}

.profile-left {
    display: flex;
    flex-direction: column;
}

.profile-avatar {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-btn {
    margin: 12px;
    padding: 0.5rem 0.75rem;
    border-radius: 13px;
    background-color: #16a34a;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #065f46;
}

.user-info {
    flex: 1;
    font-size: clamp(0.85rem, 2vw, 1rem);
    min-width: 200px;
    margin-left: 30px;
    margin-right: 75px;
}

.user-info h1 {
    color: #16a34a;
    font-weight: bold;
    margin-bottom: 1rem;
}

.user-info p {
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    color: rgba(0, 0, 0, 0.5);
    width: 44vw;
}


/* --- Activity Section --- */
.activity-sidebar {
    display: flex;
    margin-top: 0.75vw;
    margin-bottom: 1.3vw;
}

.tabs { 
    display: flex;
}

.tabs input[type="radio"] { 
    display: none; 
}

.tabs input[type="radio"]:checked + .tab-label { 
    background: #065f46; color: white; 
}

.tab-label { 
    flex: 1; 
    padding: 15px; 
    border-radius: 10px;
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold;
    transition: background-color 0.3s; 
    text-align: center; 
}

.tab-label:hover {
    color: white;
    background-color: #16a34a;
}


/* Activity Content */
.activity-contents {
    display: flex;
    flex-direction: column;
}

.tab-content { 
    display: none; 
    padding: 20px; 
}

.tab-content.active { 
    display: block;
}


/* Review/Posts Cards */
.review-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid #d1fae5;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.review-card h2 {
    font-size: 1.4rem;
    color: #065f46;
    margin-bottom: 0.3rem;
}

.establishment-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.review-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.rating {
    color: #16a34a;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.review-text {
    color: #374151;
    margin-bottom: 1rem;
    line-height: 1.5;
}


@media (max-width: 600px) { 
    .profile-content { flex-direction: column; text-align: center; } 
    .profile-avatar { margin-right: 0; margin-bottom: 10px; } 
    .tabs { flex-direction: column; } 
}
